/*este es el estilo de portfolio de Andrés */
body 
#wrapper {width: 85%; 
             
            
            margin:auto;}

    header {position: relative;
                /* para que el titulo que va dentro,
                lo pueda colocar con absolute donde quiera*/
            background-image:url("imagenes-portfolio/universo.png");
            color: turquoise;
            background-size: cover;
            margin: auto;
            /*cover adapta bien la imagen responsive
            pero la corta ...*/
            background-position: center;
            /* como mi imagen tiene lo importante en el centro, debo poner background-position: center 
            para que corte de los lados */;
            height: 150px;}

            #titulo {font-family: 'Press Start 2P', cursive;
                        width: 40%;
                        font-size: 2.5em;
                        background-color: rgba(192, 192, 192, 0.158);
                        text-align: center;
                        position: absolute;
                        /* ojo truco para que navegador calcule,
                        el centro donde poner el titulo al que 
                        indicarle estas 4 cosas*/
                        margin-left: auto;
                        margin-right: auto;
                        left: 0px;
                        right: 0px;}

                /* aqui empieza el estilo del main */
h1 {text-align: center;
    font-size: 300%;
    font-family: 'Solway', serif;
    }
div.polaroid {
                width: 40%;
                background-color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin-bottom: 10px;
                float:left;
                margin:1%;
                margin-left: 5%;
              }
div.polaroid:hover{
                  opacity:0.5;}
              
              
              
div.container {
                text-align: center;
                padding: 1px 1px;}

@media only screen and (max-width:500px){
    div.polaroid {width:90%}
}