/* este es el estilo de mi pagina de receta */

body{background-image: url("burger.png");
    background-size:300px 300px ;
    padding: 0;}


#wrapper {widows: 40%;
        background-color:rgba(202, 182, 165, 0.85);
        width: 750px;
        margin:auto;
        padding: 1vw;
        border: 2px solid gray;
        overflow: auto;}

h1 {text-align: center;
    color: #bd400f;
    margin-top: 5%;
        font-size: 300%;}
h2 {text-align: center;
        font-size: 200%;}

h3 {font-size: 150%;}

table {border:2px solid tomato;
        border-collapse: separate;
        margin: auto;}
td, th {border: 1px solid olive;
        padding: 8px;}
td {text-align: center;}
iframe {display:block;
        margin:auto;
        width: 30vw;
        height: 40vh;}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: steelblue;}

/* vamos a utilizar un recurso llamado media query 
se trata de incluir una especie de "if" y una condicion para que cambie algo en el estilo cuando tengo una pantalla pequeña */

@media only screen and (max-width:500px){
    #wrapper {width:100%;}
        iframe {width: 100vw;
                height: 40vh;}
        }
